body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.bg-footer {
  background-color: #dcd9c6;
}

.bg-main {
  background-color: #e9ecef;
}

.main {
  height: 500px;
}
.tablero {
  max-width: 722px;
  margin-right: auto !important;
  margin-left: auto !important;
  border: 1px solid #e9ecef;
}
.tablero-facil {
  max-width: 362px;
}
.celda {
  justify-content: center;
  align-items: center;
  display: flex;
  width: 45px;
  height: 45px;
  border: 1px solid #e9ecef;
  background-color: #222222;
  color: white;
  border-radius: 6px;
}
.mostrada {
  background-color: #585858;
}

.modaljs {
  font-size: 1rem;
}
.modaljs > .header {
  width: 100%;
  border-bottom: 1px solid gray;
  font-size: 1.5rem;
  text-align: center;
  padding: 5px;
}
.modaljs > .content {
  width: 100%;
  padding: 10px 5px;
  text-align: left;
}
.modaljs > .actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}

.resultado{
    position: absolute;
    top: 50%;
    background-color: rgba(255, 255, 255, 0.747);
    width: 150px;
    text-align: center;
    border-radius: 15px;
    font-weight: bold;
    left: calc(50% - 75px);
}

.oculto{
  left: -32000px;
}

@media (max-width: 992px) {
  .celda {
    width: 39px;
    height: 39px;
  }
  .tablero {
    max-width: 626px;
  }
  .tablero-facil {
    max-width: 314px;
  }
}

@media (max-width: 768px) {
  .celda {
    width: 28px;
    height: 28px;
  }
  .tablero {
    max-width: 450px;
  }
  .tablero-facil {
    max-width: 226px;
  }
}
